* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

header {
  display: flex;
  background-color: #399fff;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  justify-content: center;
}

header .adminPanel {
  padding: 20px;
  display: flex;
  gap: 15px;
}

header .adminPanel .menuItem {
  min-width: 100px;
  text-align: center;
  padding: 10px 15px;
  /* border: 2px solid #333; */
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.2s;
  font-size: 18px;
  font-weight: 600;
}

header .adminPanel .menuItem:hover {
  background-color: #e6e6e6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

header .adminPanel .menuItem.active {
  background-color: #333;
  color: white;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
}

.projectList {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projectCard {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
}

.projectCard h3 {
  margin: 0 0 10px;
  font-size: 30px;
  color: #2c3e50;
}

.projectCard p {
  margin: 0;
  font-size: 18px;
  color: #555;
}




.taskList {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.taskCard {
  background-color: white;
  border: 1px solid #ddd;
  border-left: 4px solid #dbdbdb;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.completed {
  border-left: 4px solid #42da63;
}

.inProgress {
  border-left: 4px solid #f8b31e;
}

.taskHedaer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 8px;
}

.taskHedaer h4 {
  font-size: 28px;
}

.taskCard p {
  margin: 4px 0;
  font-size: 18px;
  color: #333;
}



.userList {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
}

.userElement {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 16px;

  display: flex;
  flex-direction: column;
}

.userElement p {
  margin: 0 0 8px;
  font-size: 24px;
  color: #333;
}

.userElement .id {
  color: #777;
}

.userElement .username {
  font-weight: 600;
}


.trackList {
  display: table;
  width: 1000px;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  color: #333;
  margin: 20px auto;
}

.trackHeader,
.trackElement {
  display: table-row;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.trackHeader {
  box-shadow: none;
}

.trackHeader p,
.trackElement p {
  display: table-cell;
  padding: 14px 20px;
  vertical-align: middle;
  text-align: left;
  border: none;
  font-size: 20px;
}

.trackHeader p {
  font-weight: 600;
  color: #555;
  text-transform: uppercase;
  user-select: none;
}

.trackElement:nth-child(even) {
  background-color: #fefefe;
}

.trackElement:hover {
  background-color: #e8f0fe;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.addButton {
  display: block;
  width: max-content;
  margin: 0 auto 15px auto;
  padding: 10px 20px;
  background-color: #60a552;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #37723a;
}